@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*, ::before, ::after {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  list-style: none; }

body, h1, h2, h3, h4, h5,
h6, p, ul, ol, li, figure,
figcaption, blockquote, dl, dd {
  margin: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

img {
  max-width: 100%;
  display: block; }

input, button, textarea, select {
  font: inherit; }

select {
  -webkit-appearance: none;
    -webkit-appearance--moz-appearance: none;
    -webkit-appearance-appearance: none;
    -webkit-appearance--ms-appearance: none; }

button {
  background-color: transparent;
  border: none; }

a {
  text-decoration: none; }

* {
  font-family: roboto;
  -webkit-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms;
  -moz-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms;
  -ms-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms;
  -o-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms;
  transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms; }

#nav {
  width: 100%;
  padding: 20px 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  z-index: 100; }
  #nav h3 {
    color: white;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer; }
    #nav h3:hover {
      opacity: 0.6; }
  #nav ul {
    display: flex;
    align-items: center; }
    #nav ul li {
      margin-right: 40px;
      color: white;
      font-size: 20px;
      cursor: pointer; }
      #nav ul li:hover {
        opacity: 0.6; }
  #nav button {
    color: white;
    height: 60px;
    padding: 0px 80px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    font-size: 20px;
    border-radius: 2px;
    cursor: pointer; }
    #nav button:hover {
      background-color: #101D42;
      border-color: #101D42; }

@media only screen and (min-width: 1400px) {
  #nav {
    padding: 20px 400px; } }

#hero {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 75vh;
  overflow: hidden; }
  #hero #background-img {
    position: absolute;
    object-fit: cover;
    min-height: 100%; }
  #hero .content {
    z-index: 10;
    width: 100%;
    color: white;
    padding: 0 160px; }
    #hero .content h1 {
      font-size: 80px;
      font-weight: 500;
      margin-bottom: 10px; }
    #hero .content p {
      font-size: 20px;
      width: 600px;
      margin-bottom: 30px; }
    #hero .content button {
      color: white;
      height: 60px;
      padding: 0px 80px;
      font-size: 20px;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      cursor: pointer;
      border-radius: 2px; }
      #hero .content button:hover {
        background-color: #101D42;
        border-color: #101D42; }

@media only screen and (min-width: 1400px) {
  #hero .content {
    padding: 0 600px; } }

#stats {
  padding: 160px 160px;
  background-color: white;
  display: flex;
  flex-direction: column;
  color: #101D42; }
  #stats h2 {
    font-size: 40px;
    font-weight: 500;
    color: #101D42;
    margin-bottom: 20px; }
  #stats > div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; }
    #stats > div h4 {
      font-size: 50px;
      margin-bottom: 10px; }
    #stats > div p {
      font-size: 16px;
      color: black; }

#people {
  padding: 160px 160px;
  background-color: #101D42;
  display: flex;
  flex-wrap: wrap; }
  #people h2 {
    width: 100%;
    font-size: 40px;
    color: white;
    margin-bottom: 40px; }
  #people > div {
    width: 50%;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white; }
    #people > div img {
      border-radius: 50%;
      width: 60%;
      margin-bottom: 30px; }
    #people > div h4 {
      font-size: 30px;
      margin-bottom: 5px; }
    #people > div h5 {
      font-size: 20px; }

#search {
  background-color: white;
  padding: 160px 160px; }
  #search .content h2 {
    width: 100%;
    font-size: 40px;
    color: #101D42;
    margin-bottom: 20px; }
  #search .content div {
    display: flex;
    justify-content: space-between; }
    #search .content div input {
      height: 60px;
      font-size: 20px;
      padding: 0px 40px;
      flex-grow: 1;
      border: solid 2px #101D42; }
      #search .content div input:focus {
        border: 2px solid #101D42; }
    #search .content div button {
      color: white;
      height: 60px;
      padding: 0px 80px;
      border-style: solid;
      border-width: 2px;
      background-color: #101D42;
      border-color: #101D42;
      font-size: 20px;
      border-radius: 2px;
      cursor: pointer;
      margin-left: 20px; }
      #search .content div button:hover {
        background-color: white;
        border-color: #101D42;
        color: #101D42; }
  #search #results {
    border-top: solid 2px #101D42;
    width: 100%;
    padding-top: 40px;
    margin-top: 80px; }
    #search #results h4 {
      font-size: 30px;
      color: #101D42;
      margin-bottom: 20px; }
    #search #results li {
      font-size: 20px;
      color: black;
      margin-bottom: 10px; }

@media only screen and (min-width: 1400px) {
  .container {
    padding: 160px 600px !important; } }

#footer {
  display: grid;
  background-color: #101D42;
  padding: 160px 80px;
  grid-template-columns: repeat(4, 1fr);
  color: white; }
  #footer h2 {
    font-size: 60px;
    line-height: 60px;
    cursor: pointer; }
    #footer h2:hover {
      opacity: 0.6; }
  #footer h3 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    cursor: pointer; }
    #footer h3:hover {
      opacity: 0.6; }
  #footer h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 20px;
    cursor: pointer; }
    #footer h5:hover {
      opacity: 0.6; }
  #footer a {
    color: inherit; }

@media only screen and (min-width: 1400px) {
  #footer {
    padding: 160px 400px; } }
