*, ::before, ::after {
  box-sizing: border-box; }

ul, ol {
  padding: 0;
  list-style: none; }

body, h1, h2, h3, h4, h5,
h6, p, ul, ol, li, figure,
figcaption, blockquote, dl, dd {
  margin: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden; }

img {
  max-width: 100%;
  display: block; }

input, button, textarea, select {
  font: inherit; }

select {
  -webkit-appearance: none;
    -webkit-appearance--moz-appearance: none;
    -webkit-appearance-appearance: none;
    -webkit-appearance--ms-appearance: none; }

button {
  background-color: transparent;
  border: none; }

a {
  text-decoration: none; }

.interface {
  display: grid;
  align-items: center;
  width: 100%;
  grid-template-columns: 0px repeat(6, 1fr) 0px;
  column-gap: 16px; }
  @media only screen and (min-width: 600px) {
    .interface {
      grid-template-columns: 48px repeat(6, 1fr) 48px;
      column-gap: 16px; } }
  @media only screen and (min-width: 900px) {
    .interface {
      grid-template-columns: 32px repeat(12, 1fr) 48px;
      column-gap: 16px; } }
  @media only screen and (min-width: 1200px) {
    .interface {
      grid-template-columns: 80px repeat(12, 1fr) 80px;
      column-gap: 32px; } }
  @media only screen and (min-width: 1800px) {
    .interface {
      grid-template-colimns: 1fr repeat(12, 112px) 1fr;
      column-gap: 32px; } }

@font-face {
  font-family: "Archia-Regular";
  src: url("/font/archia-regular.otf") format("opentype"); }

@font-face {
  font-family: "Archia-Medium";
  src: url("/font/archia-medium.otf") format("opentype"); }

@font-face {
  font-family: "Archia-SemiBold";
  src: url("/font/archia-semibold.otf") format("opentype"); }

@font-face {
  font-family: "JetBrainsMono-Regular";
  src: url("/font/jetbrainsmono-regular.woff2") format("woff2"); }

.type-heading-1 {
  font-size: 76px;
  font-family: "Archia-Medium";
  font-weight: 500;
  line-height: 120%; }

.type-heading-2 {
  font-size: 48px;
  font-family: "Archia-Medium";
  font-weight: 500;
  line-height: 120%; }

.type-heading-3 {
  font-size: 28px;
  font-family: "Archia-Regular";
  font-weight: 400;
  line-height: 120%; }

.type-body-large {
  font-size: 24px;
  font-family: "Archia-Regular";
  font-weight: 400;
  line-height: 120%; }

.type-body {
  font-size: 18px;
  font-family: "Archia-Regular";
  font-weight: 400;
  line-height: 120%; }

.type-body-small {
  font-size: 16px;
  font-family: "Archia-Regular";
  font-weight: 400;
  line-height: 120%; }

.type-label {
  font-size: 18px;
  font-family: "Archia-Medium";
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 12px; }

.type-input {
  font-size: 18px;
  font-family: "JetBrainsMono-Regular";
  font-weight: 400;
  line-height: 120%; }

.type-button {
  font-size: 16px;
  font-family: "Archia-Medium";
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 1px;
  text-transform: uppercase; }

.spacing-64 {
  margin-bottom: 64px; }

.spacing-48 {
  margin-bottom: 48px; }

.spacing-32 {
  margin-bottom: 32px; }

.spacing-14 {
  margin-bottom: 14px; }

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  height: 58px;
  background-color: #FFFFFF;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  border-color: #E5E5E5;
  padding: 0px 22px; }
  input[type=text]::-webkit-input-placeholder, input[type=text]::-moz-placeholder, input[type=text]:-ms-input-placeholder, input[type=text]:-moz-placeholder, input[type=email]::-webkit-input-placeholder, input[type=email]::-moz-placeholder, input[type=email]:-ms-input-placeholder, input[type=email]:-moz-placeholder, input[type=password]::-webkit-input-placeholder, input[type=password]::-moz-placeholder, input[type=password]:-ms-input-placeholder, input[type=password]:-moz-placeholder {
    background-color: #969696; }

.button {
  width: 100%;
  background-color: #1E272E;
  height: 58px;
  color: #FFFFFF;
  border-radius: 3px;
  cursor: pointer; }
  .button:hover {
    opacity: 0.9; }

#temp {
  background-color: red;
  height: 1000px; }
  @media (max-width: 599px) {
    #temp {
      background-color: #7ed6df; } }
  @media (min-width: 600px) {
    #temp {
      background-color: #e056fd; } }
  @media (min-width: 900px) {
    #temp {
      background-color: #686de0; } }
  @media (min-width: 1200px) {
    #temp {
      background-color: #30336b; } }
  @media (min-width: 1800px) {
    #temp {
      background-color: #95afc0; } }

#login {
  width: 100%;
  height: 100vh;
  display: flex;
  color: #1E272E; }
  #login #left {
    width: 50%;
    max-width: 960px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 120px;
    background-color: #1E272E; }
    #login #left .type-heading-1, #login #left .type-heading-3 {
      color: #FCFCFC; }
    #login #left .type-heading-3 {
      line-height: 170%; }
  #login #right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 180px;
    padding-right: 120px; }
    #login #right .content {
      width: 100%;
      max-width: 630px; }
    #login #right label {
      display: block; }
    #login #right #links span:nth-child(1) {
      float: left; }
    #login #right #links span:nth-child(2) {
      float: right; }
    #login #right #links a {
      color: #1E272E; }
