<%- include('../global/top.ejs'); %>

<h1>Dashboard</h1>

<form data-cf-form="logout">
    <button class="btn btn-primary btn-block" type="submit" data-cf-form="submit">Logout</button>
</form>

<%- include('../global/bottom.ejs'); %>