@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap')
    
$dark: #101D42

*
    font-family: roboto
    -webkit-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms
    -moz-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms
    -ms-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms
    -o-transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms
    transition: ease-in-out background-color 200ms, border-color 200ms, color 200ms, opacity 200ms

#nav
    width: 100%
    padding: 20px 80px
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: space-between
    height: 100px
    align-items: center
    z-index: 100

    h3
        color: white
        font-size: 30px
        font-weight: 500
        cursor: pointer

        &:hover
            opacity: 0.6

    ul
        display: flex
        align-items: center

        li
            margin-right: 40px
            color: white
            font-size: 20px
            cursor: pointer

            &:hover
                opacity: 0.6

    button
        color: white
        height: 60px
        padding: 0px 80px
        border-style: solid
        border-width: 2px
        border-color: white
        font-size: 20px
        border-radius: 2px
        cursor: pointer

        &:hover
            background-color: $dark
            border-color: $dark

@media only screen and (min-width: 1400px)
    #nav
        padding: 20px 400px

#hero
    align-items: center
    justify-content: center
    display: flex
    position: relative
    height: 75vh
    overflow: hidden

    #background-img
        position: absolute
        object-fit: cover
        min-height: 100%

    .content
        z-index: 10
        width: 100%
        color: white
        padding: 0 160px

        h1
            font-size: 80px
            font-weight: 500
            margin-bottom: 10px

        p
            font-size: 20px
            width: 600px
            margin-bottom: 30px

        button
            color: white
            height: 60px
            padding: 0px 80px
            font-size: 20px
            border-style: solid
            border-width: 2px
            border-color: white
            cursor: pointer
            border-radius: 2px

            &:hover
                background-color: $dark
                border-color: $dark

@media only screen and (min-width: 1400px)
    #hero .content
        padding: 0 600px

#stats
    padding: 160px 160px
    background-color: white
    display: flex
    flex-direction: column 
    color: $dark

    h2
        font-size: 40px
        font-weight: 500
        color: $dark
        margin-bottom: 20px

    & > div
        display: grid
        grid-template-columns: repeat(3, 1fr)
        gap: 40px

        h4
            font-size: 50px
            margin-bottom: 10px

        p
            font-size: 16px
            color: black

#people
    padding: 160px 160px
    background-color: $dark
    display: flex
    flex-wrap: wrap

    h2
        width: 100%
        font-size: 40px
        color: white
        margin-bottom: 40px


    & > div
        width: 50%
        align-items: center
        display: flex
        flex-direction: column
        color: white

        img
            border-radius: 50%
            width: 60%
            margin-bottom: 30px

        h4
            font-size: 30px
            margin-bottom: 5px

        h5
            font-size: 20px

#search
    background-color: white
    padding: 160px 160px

    .content
        h2
            width: 100%
            font-size: 40px
            color: $dark
            margin-bottom: 20px

        div
            display: flex
            justify-content: space-between

            input
                height: 60px
                font-size: 20px
                padding: 0px 40px
                flex-grow: 1
                border: solid 2px $dark

                &:focus
                    border: 2px solid $dark

            button
                color: white
                height: 60px
                padding: 0px 80px
                border-style: solid
                border-width: 2px
                background-color: $dark
                border-color: $dark
                font-size: 20px
                border-radius: 2px
                cursor: pointer
                margin-left: 20px

                &:hover
                    background-color: white
                    border-color: $dark
                    color: $dark

    #results
        border-top: solid 2px $dark
        width: 100%
        padding-top: 40px
        margin-top: 80px
        
        h4
            font-size: 30px
            color: $dark
            margin-bottom: 20px

        li
            font-size: 20px
            color: black
            margin-bottom: 10px

@media only screen and (min-width: 1400px)
    .container
        padding: 160px 600px !important

#footer
    display: grid
    background-color: $dark
    padding: 160px 80px
    grid-template-columns: repeat(4, 1fr)
    color: white

    h2
        font-size: 60px
        line-height: 60px
        cursor: pointer

        &:hover
            opacity: 0.6

    h3
        font-size: 30px
        line-height: 30px
        font-weight: 500
        margin-bottom: 40px
        cursor: pointer

        &:hover
            opacity: 0.6

    h5
        font-size: 20px
        line-height: 20px
        font-weight: 400
        margin-bottom: 20px
        cursor: pointer

        &:hover
            opacity: 0.6


    a
        color: inherit

@media only screen and (min-width: 1400px)
    #footer
        padding: 160px 400px