#temp
    background-color: red
    height: 1000px

    @include interfaceMobileOnly
        background-color: #7ed6df

    @include interfaceTabletPortraitUp
        background-color: #e056fd

    @include interfaceTabletLandscapeUp
        background-color: #686de0

    @include interfaceDesktopSmallUp
        background-color: #30336b

    @include interfaceDesktopLargeUp
        background-color: #95afc0